[submodule "orbital_mechanics/Lambert targeters/high_thrust"]
	path = orbital_mechanics/Lambert targeters/high_thrust
	url = https://github.com/rodyo/FEX-Lambert
[submodule "misc_math/rkn1210"]
	path = misc_math/rkn1210
	url = https://github.com/rodyo/FEX-RKN1210
[submodule "GUI/settingsdlg"]
	path = GUI/settingsdlg
	url = https://github.com/rodyo/FEX-settingsdlg
[submodule "optimization/minimize"]
	path = optimization/minimize
	url = https://github.com/rodyo/FEX-minimize
[submodule "orbital_mechanics/tsjiolkovsky"]
	path = orbital_mechanics/tsjiolkovsky
	url = https://github.com/rodyo/FEX-Tsjiolkovsky
[submodule "orbital_mechanics/progress_orbit"]
	path = orbital_mechanics/progress_orbit
	url = https://github.com/rodyo/FEX-progress_orbit
